*{
    margin:0;
    padding:0;
}

body,html{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    overflow-x:hidden;
}

@font-face {
    font-family: 'Victor Serif';
    src: url('../Victor Serif/VictorSerifTrial-40Regular.otf');
}

.back{
    position:absolute;
    top:0;
    left:0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 56px;
    width: 540px;
    max-width: 540px;
    height: auto;
  }
  

.heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:112px;
    gap:16px;
    
}
.icon{
    height:40px;
    width:40px;
}
 
.message{
    width:100%;
    height:56px;
    font-family:'Victor Serif';
}
.message h3{
    font-size:24px;
    line-height:28px;
    font-family: 'Victor Serif';
    font-weight: 600;
    margin-bottom: 4px;
   
}

.message p{
    font-size:16px;
    line-height:24px;
    font-family:'Victor Serif';
    font-weight:400;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height:32px;
    width: 328px;
    /* padding-left: 16px; */
    margin-bottom: 8px;
}

.title2{
    /* position: absolute; */
    width:50%;
    height:32px;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    
}

.content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height:24px; */
}

.couple, .gender {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:8px;
    margin-bottom:48px;
}

.upbox1, .upbox2, .upbox3, .upbox4{
    display:flex;
    align-items: center;
    flex-direction: column;
    border:1px solid rgba(0, 0, 0, 0.16);
    border-radius:6px;
    gap:16px;
    height:160px;
    width:160px;
    cursor:pointer;
    justify-content: center;
}
 .upbox1 input, .upbox2 input, .upbox3 input, .upbox4 input {
    opacity: 0;
    /* position: absolute; */
    
 }

  .upbox1:hover, .upbox2:hover, .upbox3:hover, .upbox4:hover {
    border-color: rgba(0, 0, 0, 0.48);
  } 


  .button-container {
    display: flex;
    justify-content: center;
    padding: 16px 16px 24px 16px;
    height: 88px;
    align-items: center;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
  }
  
  .button-container button {
    width: 540px;
    max-width: 540px;
    height: 48px;
    border-radius: 100px;
    padding: 11px 10px 13px 10px;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Victor Serif';
    font-weight: 600;
    opacity: 0.5;
    cursor: not-allowed;
    transition: opacity 0.2s, cursor 0.2s;
  }
  
  button:enabled {
    opacity: 1;
    cursor: pointer;
  }

  .back a{
    text-decoration: none;
  }
